@media screen and (min-width: 1440px){
    //1er paso. En este paso, el bloque imagen y el bloque de texto
    .encuadre{
        margin-top: 10rem;
        flex-direction: row !important;
        justify-content: center !important;
    }

//2ndo paso. """"", el bloque de imagen 
.divImagen img {
    margin-top: 0rem !important;
    width: 330px;
    height: 290px;
    border-radius: 8px 0px 0px 8px ;
}

//3er paso. """", el bloque de texto 
.divTexto{
    margin-top: 0rem !important;
    background-color: white;
    width: 435px;
    height: 290px;
    border-radius: 0px 8px 8px 0px;
}

//4to paso.

.divTexto--textoOscuro{
    font-size: 20px;
}

.divTexto--textoClaro{
    font-size: 13.5px;

}

.tercerParte--cuadroBlanco{
margin-top: -0.5rem;
}
.iconoNombreFecha{
    margin-right: 130px;
}

.cuadroGris{
    position: absolute;
    background-color:hsl(217, 19%, 35%);
    width: 200px;
    height: 46px;
    bottom: 360px;
    right: 340px;
    border-radius: 10px 10px 10px 10px;
   
  

}

.triangulo{
    width: 0;
    height:0;
    border-top: 22px solid hsl(217, 19%, 35%);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    bottom: 5px;
    margin-left: 95px;
}
.iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.letraShare{
    font-family: 'Manrope', sans-serif;
     font-size:10px ;
     margin-left: 2rem;
     color: hsl(214, 17%, 51%);
     letter-spacing: 1px;
}

.grupoIcono{
    margin-right: 1rem  ;
}

.facebook{
    height: 14px;
}

.twitter{
    height: 14px;
}

.pinterest{
    height: 14px;
}

.grupoIcono{
    margin-left: -5rem;
}
.grupoIcono img{
   margin-right: 10px;
}


 .segundoShare path{
cursor: pointer;
    fill: #ffffff !important;
display: none;
}

.divSegundoShare{
    position: relative;
    margin-top: -0.3rem;
    background-color: hsl(214, 17%, 51%);
    width: 25px;
height: 25px;
  border-radius: 15px;
  display: none;
}

.segundoShare{
    position: absolute;
    top: 5px;
    left: 5.5px;
}













}